html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    }

body {
    margin: 0;
    }
main {
    display: block;
    }

    
.main_content {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 265px 400px 50px  ;
background-color: rgba(119, 237, 237, 0.619);
}

.header{
    font-size: 24px;
    font-family: 'Inconsolata';
    margin-left: 77px;
    margin-top: 40px;
}
.main {
    grid-column-start: 2;
    grid-row-start: 2;
    
}

.main h1{
    font-family:'Space Mono';
    font-size: 64px;
    margin-bottom: 40px;
    margin-top: 0;
}
.main p {
    font-size: 24px;
    margin-bottom: 54px;
}
.side {
    /*background-color: rgb(204, 101, 11); */
    grid-column-start:1;
    grid-row-start:2;
    grid-row-end: 4;
}
.side img {
    margin-left: 80px;
    width: 420px;
    height: 400px ;
}
.btn {
    width: 216px ;
    height: 68px;
    border-style: none;
    color: aliceblue;
    background-color: #333333;
    margin-bottom: 0px;
}





